# Nuxt
.nuxt/
.output/
.data/

# Env
.env
.env.local

# Dependencies
node_modules/

# Build
dist/

# Misc
.DS_Store
*.log

# Screenshots and visual testing artifacts
*.png
*.jpeg
!content/**/*.png
!content/**/*.jpeg
!app/assets/**/*.png
!app/assets/**/*.jpeg

# Test artifacts
test-results/
playwright-report/
coverage/
